@import '../../static/scss/variables.scss';

.movieList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    @media screen and (min-width:500px) {
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        gap: 10px;
        grid-auto-rows: minmax(200px, auto);

    }

    @media screen and (min-width:1024px) {

        grid-template-columns: repeat(3, 4fr);

    }
}
.message{
     color: $mainColor;
     text-align: center;
}
.errorMsg {
    color: $error;
    text-align: center;
}