@import "../../../static/scss/variables.scss";

.input,
.input:focus,
.input:active {
    width: 100%;
    padding: 10px;
    color: $secondaryColor;
    text-align: center;
    border: 1px solid #404040;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
}

.input::placeholder {
    color: #808080
}